{% extends "base.html" %}

{% block title %}Sign up{% endblock %}


{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" type="text/css" href="/stylesheet/shiny-btn.css" />
<link rel="stylesheet" type="text/css" href="/stylesheet/forgot.css" />
{% endblock %}

{% block body %}

<div class="container main d-flex flex-column flex-lg-row py-5 px-4 my-5">
    <img src="https://images.unsplash.com/photo-1519834785169-98be25ec3f84?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8c3VjY2Vzc3xlbnwwfDF8MHx8&auto=format&fit=crop&w=500&q=60"
        alt="" class="img-fluid order-lg-first order-last">
    <div class="container align-items-center justify-content-center align-self-center d-flex flex-column text-center py-5 px-4 my-5"
        id="content">
        <h2>Success!</h2>

        <span class="w-75">You account is active. You can now log in. </span>

        <div class="button-container d-flex mx-auto align-items-center justify-center flex-column mt-5">
            <a href="/login" class="shiny-btn login">
                LOG IN
            </a>
        </div>

    </div>

</div>


{% endblock %}