body,
html {
    height: auto;
}

form {
    background-color: white;
}

#limitContainer {
    display: none;
    z-index: 1;
    top: 0;
    position: sticky;
    position: -webkit-sticky;
    overflow: visible;
}