/*form styles*/
#msform {
	max-width: 600px;
	/* min-height: 480px;  */
	margin: 100px auto;
	text-align: center;
	position: relative;
}

#msform #fieldset-wrapper {
	min-height: 500px;
}

#msform fieldset {
	background: white;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(255, 255, 255, 0.4);
	padding: 40px 30px 20px;
	box-sizing: border-box;
	width: 80%;
	margin: 0 10%;

	/*stacking fieldsets above each other*/
	position: relative;
}

/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
	display: none;
}



/*headings*/
.step-title {
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: black;
	margin-bottom: 10px;
}

.step-subtitle {
	font-weight: normal;
	font-size: 17px;
	color: black;
	margin-bottom: 20px;
}

/*progressbar*/
#progressbar {
	margin-bottom: 30px;
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
}

#progressbar li {
	list-style-type: none;
	color: white;
	text-transform: uppercase;
	font-size: 18px;
	width: 33.33%;
	float: left;
	position: relative;
}

#progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 20px;
	line-height: 20px;
	display: block;
	font-size: 17px;
	color: black;
	background: white;
	border-radius: 3px;
	margin: 0 auto 5px auto;
	position: relative;
	z-index: 2;
	/* Push the numbers over the progress line. */
}

/*progressbar connectors*/
#progressbar li:after {
	content: "";
	width: 100%;
	height: 2px;
	background: white;
	position: absolute;
	left: -50%;
	top: 9px;
}

#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none;
}

/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,
#progressbar li.active:after {
	background: #7D83FF;
	color: white;
}

/*buttons*/
#msform .button-wrapper {
	display: flex;
	justify-content: center;
	flex-wrap: wrap-reverse;
	margin: 0 30px 20px;
	clear: both;
}

#msform .button-wrapper .action-button {
	flex: auto;
	max-width: 120px;
	background: #7DCFB6;
	font-weight: 600;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 20px 25px 0;
	border-radius: 4px;
}

#msform .button-wrapper .action-button.previous {
	background: #eeeeee;
	color: #666666;
}

/* Highlighting on button hover */
#msform .button-wrapper .action-button:hover,
#msform .button-wrapper .action-button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #7DCFB6;
}

/* Ripple loader effect from https://loading.io/css/ */
.lds-ripple {
	display: inline-block;
	position: relative;
	width: 80px;
	height: 80px;
}

.lds-ripple div {
	position: absolute;
	border: 4px solid #fff;
	opacity: 1;
	border-radius: 50%;
	animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
	animation-delay: -0.5s;
}

@keyframes lds-ripple {
	0% {
		top: 36px;
		left: 36px;
		width: 0;
		height: 0;
		opacity: 1;
	}

	100% {
		top: 0px;
		left: 0px;
		width: 72px;
		height: 72px;
		opacity: 0;
	}
}

#msform .ripple-loader {
	display: block;
	position: absolute;
	top: 250px;
	left: 50%;
	margin-left: -40px;
	box-sizing: content-box;
}