h1{
    color: white;
	position: absolute;
	top: 0;
	left: 0;
	line-height: 1em;
	margin: 0;
	font-size: 12em;
	opacity: 0.1;
	font-weight: 900;
}

#forgot{
    color:black;
}

#forgot:hover{
    color: #E8B4BC;
}