/* motivational panel CSS */
.motivation-panel-container {
	position: fixed;
	right: 0;
	bottom: 80px;
	transform: translateX(100%);
	transition: transform 0.4s ease-in-out;
    z-index:10;
}

.motivation-panel-container.visible {
	transform: translateX(-10px);
    z-index:1000;
}

.motivation-panel {	
	background-color: #495057;
	border-radius: 16px;
	box-shadow: 0 16px 31px -17px rgba(0,31,97,0.6);
	border: 5px solid #c2e9fb;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	height: 169px;	
	width: 370px;
	max-width: calc(100% - 10px);
}

.motivation-panel button.close-btn {
	border: 0;
	color: #97A5CE;
	cursor: pointer;
	font-size: 20px;
	position: absolute;
	top: 5px;
	right: 5px;
}

.motivation-panel button.close-btn:focus {
	outline: none;
}



.motivation-panel h4 {
	margin: 20px 0;
	color: white;		
	font-size: 14px;	
	line-height: 18px;
	text-transform: uppercase;
    letter-spacing: 5px;
}

.motivation-panel ul {
	display: flex;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.motivation-panel ul li {
	margin: 0 10px;
}

.motivation-panel ul li a, .motivation-panel ul li button {
	border: 1px solid #DCE1F2;
	border-radius: 50%;
	color:white;
	font-size: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	width: 50px;
	text-decoration: none;
    background-color: #495057;
}

.motivation-panel ul li a:hover, .motivation-panel ul li button:hover {
	border-color: #fbc2eb;
	box-shadow: 0 9px 12px -9px #fbc2eb;
}

.floating-btn {
	cursor: pointer;
	font-size: 16px;
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 999;
}

.floating-btn:hover {
    background-position:bottom center;
}




@media screen and (max-width: 480px) {

	.motivation-panel-container.visible {
		transform: translateX(0px);
	}
	
	.floating-btn {
		right: 10px;
	}
}