.navbar {
  z-index: 10;
}

.navbar ul li {
  margin: 0 10px;
}

.navbar ul li a {
  color: white;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  text-decoration: none;
}

.navbar ul li a:hover {
  border-color: #fbc2eb;
  box-shadow: 0 9px 12px -9px #fbc2eb;
}

/* main settings */
.wrapper {
  max-width: 960px;
}

.tab {
  position: relative;
  margin-bottom: 1px;
  width: 100%;
  overflow: hidden;
}

.tab a {
  color: black;
}

.input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.label {
  position: relative;
  text-align: center;
  display: block;
  padding: 0 0 0 1em;
  backdrop-filter: blur(5px);
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: white;
  line-height: 6;
  cursor: pointer;
}

.label.one {
  background-color: rgba(153, 226, 180, 0.6);
}

.label.two {
  background-color: rgba(86, 171, 145, 0.6);
}

.label.three {
  background-color: rgba(20, 116, 111, 0.4)
}

.tab-content {
  max-height: 0;
  overflow: hidden;
  background: rgba(255, 255, 255);
  transform: scale(0.35);
  -webkit-transform: scale(0.35);
  opacity: 0;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.tab-content p {
  margin: 1em;
}


.input:checked~.tab-content {
  max-height: 10em;
  opacity: 1;
  transform: scale(1);
  -webkit-transform: scale(1);
}


.label::after {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 3em;
  height: 3em;
  line-height: 3;
  text-align: center;
  -webkit-transition: all 0.35s;
  -o-transition: all 0.35s;
  transition: all 0.35s;
}

.input[type=checkbox]+.label::after {
  content: "+";
  font-size: 150%;
}

.input[type=radio]+.label::after {
  content: "";
}

.input[type=checkbox]:checked+.label::after {
  transform: rotate(315deg);
}

.input[type=radio]:checked+.label::after {
  transform: rotateX(180deg);
}


/* end of main settings */

#incomesContainer,
#expensesContainer,
#methodsContainer,
#profileContainer,
#passwordContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 5%;
  flex-direction: column;
}

/*password and profile */

#msform {
  background-color: white;
}

#msform {
  z-index: 2000;
}

#goback {
  color: black;
  margin-top: 10%;
}

#goback:hover {
  color: #E8B4BC;
}


/* icomes, expenses, payment methods */

table {
  z-index: 1;
  letter-spacing: 4px;
}

th {
  font-size: 25px;
  text-transform: uppercase;
}

td {
  font-size: 22px;
  color: white;
}

#limitEdit {
  display: none;
}