/* main settings */
.wrapper {
  max-width: 960px;
}

.tab {
  position: relative;
  margin-bottom: 1px;
  width: 100%;
  color: #005bab;
  overflow: hidden;
}

.input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.label {
  position: relative;
  text-align: center;
  display: block;
  padding: 0 0 0 1em;
  background: black;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: white;
  line-height: 6;
  cursor: pointer;
}

.tab-content {
  max-height: 0;
  overflow: hidden;
  background: #f4f8fc;
  transform: scale(0.35);
  webkit-transform: scale(0.35);
  opacity: 0;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.tab-content p {
  margin: 1em;
}

/* :checked */
.input:checked~.tab-content {
  max-height: 10em;
  opacity: 1;
  transform: scale(1);
  webkit-transform: scale(1);
}

/* Icon */
.label::after {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 3em;
  height: 3em;
  line-height: 3;
  text-align: center;
  -webkit-transition: all 0.35s;
  -o-transition: all 0.35s;
  transition: all 0.35s;
}

.input[type=checkbox]+.label::after {
  content: "+";
  font-size: 150%;
}

.input[type=radio]+.label::after {
  content: "";
}

.input[type=checkbox]:checked+.label::after {
  transform: rotate(315deg);
}

.input[type=radio]:checked+.label::after {
  transform: rotateX(180deg);
}


/* end of main settings */

#incomesContainer,
#expensesContainer,
#methodsContainer,
#profileContainer,
#passwordContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 5%;
  flex-direction: column;
}

/*password and profile */

#msform {
  background-color: white;
}

#msform {
  z-index: 2000;
}

#goback {
  color: black;
  margin-top: 10%;
}

#goback:hover {
  color: #E8B4BC;
}


/* icomes, expenses, payment methods */

table {
  z-index: 1;
  letter-spacing: 4px;
}

th {
  font-size: 25px;
  text-transform: uppercase;
}

td {
  font-size: 22px;
  color: white;
}

#limitEdit {
  display: none;
}