{% extends 'base.html' %}

{% block title %}Resetowanie hasła{% endblock %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" type="text/css" href="/stylesheet/home.css" />
{% endblock %}

{% block footer %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="/js/home.js"></script>
{% endblock %}

{% block body %}


<div id="preloader">
    <div id="status">

        <i class="fa-solid fa-key fa-beat-fade fa-5x" style="color: silver;"></i>

    </div>
</div>

<div class="container main d-flex flex-column flex-md-row py-5 px-4 my-5">
    <img src="https://images.unsplash.com/photo-1584447128309-b66b7a4d1b63?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8Zm9yZ2V0fGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
        alt="" class="img-fluid img-thumbnail order-md-first order-last ">
    <div class="container align-items-center justify-content-center text-center align-self-center d-flex flex-column py-5 px-4 my-5"
        id="content">
        <h1>Resetowanie hasła</h1>
        <span class="text-center">Sprawdź swoją skrzynkę e-mail i kliknij w przesłany link.</span>

    </div>

</div>



{% endblock %}