{% extends 'base.html' %}

{% block title %}Resetowanie hasła{% endblock %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" type="text/css" href="/stylesheet/shiny-btn.css" />
<link rel="stylesheet" type="text/css" href="/stylesheet/forgot.css" />
{% endblock %}

{% block body %}

<h1>Personal Budget App</h1>

<div class="container main d-flex flex-column flex-lg-row py-5 px-4 my-5">
    <img src="https://images.pexels.com/photos/3807737/pexels-photo-3807737.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
        alt="" class="img-fluid order-lg-first order-last">
    <div class="container align-items-center justify-content-center align-self-center d-flex flex-column text-center py-5 px-4 my-5"
        id="content">
        <h2>Resetowanie hasła zakończone sukcesem.</h2>

        <span>Możesz teraz zalogować się na swoje konto.</span>

        <div class="button-container d-flex mx-auto align-items-center justify-center flex-column mt-5">
            <a href="/login" class="shiny-btn login">
                ZALOGUJ SIĘ
            </a>
        </div>

    </div>

</div>


{% endblock %}