{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" type="text/css" href="/stylesheet/home.css" />
{% endblock %}

{% block footer %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="/js/home.js"></script>
{% endblock %}
{% block body %}

<div id="preloader">
    <div id="status">

        <i class="fa-solid fa-piggy-bank fa-shake fa-5x" style="color: #F28482;"></i>

    </div>
</div>

<nav>
    <div class="menu-btn">
        <div class="line line--1"></div>
        <div class="line line--2"></div>
        <div class="line line--3"></div>
    </div>

    <div class="nav-links">
        {% if current_user %}
        <a href="/mainmenu/new" class="link">Menu główne</a>
        <a href="" class="link">Zainspiruj się</a>
        <a href="/login/destroy" class="link">Wyloguj się</a>
        {% endif %}
        {% if not current_user %}
        <a href="/login/new" class="link">Zaloguj się</a>
        <a href="/signup/new" class="link">Zarejestruj się</a>
        <a href="https://www.youtube.com/watch?v=3Td8aeugXhY" class="link">Zainspiruj się</a>
        {% endif %}
    </div>
</nav>

<div class="container main d-flex flex-column flex-md-row py-5 px-4 my-5">
    <img src="https://images.pexels.com/photos/5909801/pexels-photo-5909801.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
        alt="" class="img-fluid img-thumbnail order-md-first order-last ">
    <div class="container align-items-center justify-content-center align-self-center d-flex flex-column py-5 px-4 my-5"
        id="content">
        <span class="text-center m-2 fs-5 ">
            <figure class="text-center">
                <blockquote class="blockquote">
                    <p>„Zrobić budżet to wskazać swoim pieniądzom, dokąd mają iść,
                        zamiast się zastanawiać, gdzie się rozeszły.”</p>
                </blockquote>
                <figcaption class="blockquote-footer">
                    <cite title="Source Title" class="fw-bold">John C. Maxwell</cite>
                </figcaption>
            </figure>
            <h1>Witaj{% if current_user %}, {{ current_user.name }}{% endif %}!</h1>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis error optio, nostrum quia, quod iure,
            molestias laboriosam eaque illo impedit facere? Qui quae quasi facere maxime ex illo fugiat sapiente.
            Dolorem, odio. Nobis accusamus neque nisi unde, veniam officiis incidunt qui, repudiandae porro expedita
            quidem quam reiciendis, itaque possimus optio error natus iste tempora. Dicta aspernatur alias ab voluptatum
            quam.
        </span>

    </div>

</div>


{% endblock %}