{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" type="text/css" href="/stylesheet/home.css" />
{% endblock %}

{% block footer %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="/js/home.js"></script>
{% endblock %}
{% block body %}

<!-- PRELOADER -->
<div id="preloader">
    <div><em></em><em></em><em></em><em></em></div>
</div>
<!-- //PRELOADER -->



<div class="container main d-flex flex-column flex-md-row py-5 my-5">

    <div class="container align-items-center justify-content-center align-self-center d-flex flex-column py-5 my-5"
        id="content">

    </div>

</div>

<!-- motivational stuff -->
<div class="motivation-panel-container">
    <div class="motivation-panel">

        <button class="close-btn"><span class="material-icons">
                close
            </span></button>
        <h4>GARŚĆ MOTYWACJI</h4>
        <ul>
            <li>
                <a href="https://www.youtube.com/watch?v=3Td8aeugXhY" target="_blank">
                    <span class="material-icons">
                        tips_and_updates
                    </span>
                </a>
            </li>
            <li>
                <button data-bs-toggle="modal" data-bs-target="#bookList">
                    <span class="material-icons">
                        local_library
                    </span>
                </button>
            </li>
            <li>
                <a href="https://www.youtube.com/watch?v=aNdgTWjOaxI" target="_blank">
                    <span class="material-icons">
                        auto_awesome
                    </span>
                </a>
            </li>
            <li>
                <a href="https://marciniwuc.com/motywacja-w-finansach/" target="_blank">
                    <span class="material-icons">
                        psychology
                    </span>

                </a>
            </li>
            <li>
                <a href="https://www.stashwealth.com/blog/how-i-fell-back-in-love-with-saving-money/" target="_blank">
                    <span class="material-icons">
                        volunteer_activism
                    </span>
                </a>
            </li>
        </ul>
    </div>
</div>
<button class="floating-btn">
    <span class="material-icons">
        emoji_objects
    </span>
</button>

<!-- Modal -->
<div class="modal fade" id="bookList" tabindex="-1" aria-labelledby="bookList" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ul>
                    <li><a
                            href="https://www.empik.com/najbogatszy-czlowiek-w-babilonie-clason-george-s,p1136509418,ksiazka-p">Najbogatszy
                            człowiek w Babilonie</a> <i>George S. Clason</i></li>
                    <li> <a
                            href="https://www.empik.com/the-index-card-why-personal-finance-doesn-t-have-to-be-complicated-olen-helaine,p1153829036,ksiazka-p">The
                            Index Card</a> <i>Helaine Olen, Harold Pollack</i></li>
                    <li><a
                            href="https://www.empik.com/the-automatic-millionaire-workbook-a-personalized-plan-to-live-and-finish-rich-automatically-bach-david,p1147097469,ksiazka-p">
                            The Automatic Millionaire</a> <i>David Bach</i></li>
                    <li><a href="https://www.taniaksiazka.pl/kobiety-i-finanse-orman-suze-p-301026.html">Kobieta
                            i finanse</a> <i>Suze Orman</i></li>
                    <li><a
                            href="https://www.empik.com/finansowy-kozak-zarabiaj-ile-chcesz-i-spelniaj-marzenia-sincero-jen,p1220164743,ebooki-i-mp3-p">Finansowy
                            kozak</a> <i>Jen Sincero</i>
                    </li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Zamknij</button>
            </div>
        </div>
    </div>
</div>


{% endblock %}