{% extends 'base.html' %}

{% block title %}Ustawienia{% endblock %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" type="text/css" href="/stylesheet/panel.css" />
<link rel="stylesheet" type="text/css" href="/stylesheet/settings.css" />
{% endblock %}

{% block footer %}
{{ parent() }}
<script src="https://kit.fontawesome.com/e2d73f7922.js" crossorigin="anonymous"></script>
<script src="/js/modal.js"></script>
<script src="/js/settings.js"></script>
{% endblock %}

{% block body %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark p-3">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a href="/"><span class="material-icons">home</span></a>
                </li>
                <li class="nav-item">
                    <a href="/income"><span class="material-icons">attach_money</span></a>
                </li>
                <li class="nav-item">
                    <a href="/expense"><span class="material-icons">shopping_cart</span></a>
                </li>
                <li class="nav-item">
                    <a href="/balance"><span class="material-icons">query_stats</span></a>
                </li>
                <li class="nav-item">
                    <a href="/logout"><span class="material-icons">logout</span></a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<h1>Personal Budget App</h1>
<div class="d-none" id="userId">{{ user.id }}</div>

<div class="wrapper mx-auto my-5">
    <div class="tab">
        <input name="tabs" class="input" id="tab-one" type="checkbox" />
        <label class="label one" for="tab-one">Profil</label>
        <div class="tab-content d-flex flex-row justify-content-evenly align-items-center">
            <a href="/settings/profile">Edytuj dane profilowe</a>
            <a href="/settings/password">Zmień hasło</a>
            <button class="modal-button btn my-4" href="#deleteAccount">Usuń konto</button>
        </div>
    </div>
    <div class="tab">
        <input name="tabs" class="input" id="tab-two" type="checkbox" />
        <label class="label two" for="tab-two">Wydatki</label>
        <div class="tab-content d-flex flex-row justify-content-evenly align-items-center">
            <a href="/settings/expenses">Edytuj kategorie wydatków</a>
            <a href="/settings/methods">Edytuj metody płatności</a>
            <button class="btn modal-button my-4" href="#deleteAllExpenses">Usuń
                wszystkie wydatki</button>
        </div>
    </div>
    <div class="tab">
        <input name="tabs" class="input" id="tab-three" type="checkbox" />
        <label class="label three" for="tab-three">Przychody</label>
        <div class="tab-content  d-flex flex-row justify-content-evenly align-items-center">
            <a href="/settings/incomes">Edytuj kategorie przychodów</a>
            <button class="btn modal-button my-4" href="#deleteAllIncomes">Usuń
                wszystkie przychody</button>
        </div>
    </div>
</div>


<!-- modal delete all incomes-->
<div class="modal" tabindex="-1" id="deleteAllIncomes">
    <div class="modal-dialog  modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close close" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
                <form method="post" action="/Settings/deleteAllIncomes">
                    Czy na pewno chcesz usunąć wszystkie przychody? <br><br>
                    Zmiany są nieodwracalne.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary close" data-bs-dismiss="modal">Nie</button>
                <button type="button submit" class="btn btn-danger">Tak</button>
            </div>
            </form>
        </div>
    </div>
</div>

<!-- modal delete all expenses-->
<div class="modal" tabindex="-1" id="deleteAllExpenses">
    <div class="modal-dialog  modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close close" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
                <form method="post" action="/Settings/deleteAllExpenses">
                    Czy na pewno chcesz usunąć wszystkie wydatki? <br><br>
                    Zmiany są nieodwracalne.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary close" data-bs-dismiss="modal">Nie</button>
                <button type="button submit" class="btn btn-danger">Tak</button>
            </div>
            </form>
        </div>
    </div>
</div>

<!-- modal delete account -->
<div class="modal" tabindex="-1" id="deleteAccount">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close close" aria-label="Close"></button>
            </div>
            <form action="/Settings/delete">
                <div class="modal-body text-center">

                    <p>Czy na pewno chcesz usunąć konto?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary close" data-bs-dismiss="modal">Anuluj</button>
                    <button type="button submit" class="btn btn-danger">Usuń konto</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- end of modal delete account-->




{% endblock %}