{% extends 'base.html' %}

{% block title %}Ustawienia{% endblock %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" type="text/css" href="/stylesheet/icon.css" />
<link rel="stylesheet" type="text/css" href="/stylesheet/panel.css" />
<link rel="stylesheet" type="text/css" href="/stylesheet/settings.css" />
{% endblock %}

{% block footer %}
{{ parent() }}
<script src="https://kit.fontawesome.com/e2d73f7922.js" crossorigin="anonymous"></script>
<script src="/js/panel.js"></script>
<script src="/js/modal.js"></script>
<script src="/js/settings.js"></script>
{% endblock %}

{% block body %}

<h1>Personal Budget App</h1>
<div class="d-none" id="userId">{{ user.id }}</div>

<div class="wrapper mx-auto my-5">
    <div class="tab">
        <input name="tabs" class="input" id="tab-one" type="checkbox" />
        <label class="label" for="tab-one">Profil</label>
        <div class="tab-content d-flex flex-column justify-content-evelny align-items-center">
            <div><button>Edytuj dane profilowe</button></div>
            <div><button>Zmień hasło</button></div>
            <div><button class="modal-button btn btn-danger my-4" href="#deleteAccount">Usuń konto</button></div>
        </div>
    </div>
    <div class="tab">
        <input name="tabs" class="input" id="tab-two" type="checkbox" />
        <label class="label" for="tab-two">Wydatki</label>
        <div class="tab-content d-flex flex-column justify-content-evelny align-items-center">
            <div><button>Edytuj kategorie wydatków</button></div>
            <div><button>Edytuj metody płatności</button></div>
            <div><button class="btn modal-button btn-danger text-white my-5" href="#deleteAllExpenses">Usuń
                    wszystkie wydatki</button></div>
        </div>
    </div>
    <div class="tab">
        <input name="tabs" class="input" id="tab-three" type="checkbox" />
        <label class="label" for="tab-three">Przychody</label>
        <div class="tab-content  d-flex flex-column justify-content-evelny align-items-center">
            <div><button>Edytuj kategorie przychodów</button></div>
            <div><button class="btn modal-button btn-danger text-white my-5" href="#deleteAllIncomes">Usuń
                    wszystkie przychody</button></div>
        </div>
    </div>
</div>


<!-- modal delete all incomes-->
<div class="modal" tabindex="-1" id="deleteAllIncomes">
    <div class="modal-dialog  modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close close" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
                <form method="post" action="/Settings/deleteAllIncomes">
                    Czy na pewno chcesz usunąć wszystkie przychody? <br><br>
                    Zmiany są nieodwracalne.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary close" data-bs-dismiss="modal">Nie</button>
                <button type="button submit" class="btn btn-danger">Tak</button>
            </div>
            </form>
        </div>
    </div>
</div>

<!-- modal delete all expenses-->
<div class="modal" tabindex="-1" id="deleteAllExpenses">
    <div class="modal-dialog  modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close close" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
                <form method="post" action="/Settings/deleteAllExpenses">
                    Czy na pewno chcesz usunąć wszystkie wydatki? <br><br>
                    Zmiany są nieodwracalne.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary close" data-bs-dismiss="modal">Nie</button>
                <button type="button submit" class="btn btn-danger">Tak</button>
            </div>
            </form>
        </div>
    </div>
</div>

<!-- modal delete account -->
<div class="modal" tabindex="-1" id="deleteAccount">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close close" aria-label="Close"></button>
            </div>
            <form action="/Settings/delete">
                <div class="modal-body text-center">

                    <p>Czy na pewno chcesz usunąć konto?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary close" data-bs-dismiss="modal">Anuluj</button>
                    <button type="button submit" class="btn btn-danger">Usuń konto</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- end of modal delete account-->




{% endblock %}