{% extends "base.html" %}

{% block title %}Edit{% endblock %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" type="text/css" href="/stylesheet/edit.css">
{% endblock %}

{% block footer %}
<script src="/js/edit.js"></script>
<script src="/js/modal.js"></script>
{% endblock %}

{% block body %}

<div class="d-none" id="userId">{{ user.id }}</div>



<table id="tableOfIncomesCategories" class="table table-hover table-active text-white table-sm table-text">

    <thead>
        <tr>
            <th scope="col">Kategoria</th>
            <th scope="col" width="5%"></th>
            <th scope="col" style="display:none;">ID</th>
        </tr>
    </thead>
    <tbody>
        {% for incomeCategory in incomeCategories %}
        <tr class="editIncomeBtn">
            <td style="color:black;">{{ incomeCategory.name }}</td>
            <td><i class="fas fa-edit"></i></td>
            <td style="display:none;">{{ incomeCategory.id }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div class="row">
    <div class="col mb-2">
        <button class="btn btn-hover no-focus btn-sm btn-block" style="height:30px" data-toggle="modal"
            data-target="#addIncomeCategoryModal">Dodaj nową
            kategorię</button>
    </div>
</div>
<button class="modal-button" href="#myModal1">Usuń wszystkie przychody</button>

<table id="tableOfIncomesCategories" class="table table-hover table-active text-white table-sm table-text">

    <thead>
        <tr>
            <th scope="col">Kategoria</th>
            <th scope="col" width="5%"></th>
            <th scope="col" style="display:none;">ID</th>
        </tr>
    </thead>
    <tbody>
        {% for expenseCategory in expenseCategories %}
        <tr class="editExpenseBtn">
            <td style="color:black;">{{ expenseCategory.name }}</td>
            <td><i class="fas fa-edit"></i></td>
            <td style="display:none;">{{ expenseCategory.id }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div class="row">
    <div class="col mb-2">
        <button class="btn btn-hover no-focus btn-sm btn-block" style="height:30px" data-toggle="modal"
            data-target="#addIncomeCategoryModal">Dodaj nową
            kategorię</button>
    </div>
</div>
<button class="modal-button" href="#myModal2">Usuń wszystkie wydatki</button>

<table id="tableOfIncomesCategories" class="table table-hover table-active text-white table-sm table-text">

    <thead>
        <tr>
            <th scope="col">Metody płatności</th>
            <th scope="col" width="5%"></th>
            <th scope="col" style="display:none;">ID</th>
        </tr>
    </thead>
    <tbody>
        {% for method in methods %}
        <tr class="editPaymentBtn">
            <td style="color:black;">{{ method.name }}</td>
            <td><i class="fas fa-edit"></i></td>
            <td style="display:none;">{{ method.id }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div class="row">
    <div class="col mb-2">
        <button class="btn btn-hover no-focus btn-sm btn-block" style="height:30px" data-toggle="modal"
            data-target="#addIncomeCategoryModal">Dodaj nową metodę
            płatności</button>
    </div>
</div>



<!-- modal delete all incomes-->
<div class="modal" tabindex="-1" id="myModal1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="btn-close close" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" action="/Edit/deleteAllIncomes">
                    Czy na pewno chcesz usunąć wszystkie przychody?
                    Zmiany są nieodwaracalne.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Nie</button>
                <button type="button submit" class="btn btn-primary">Tak</button>
            </div>
            </form>
        </div>
    </div>
</div>


<!-- modal delete all expenses-->
<div class="modal" tabindex="-1" id="myModal2">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="btn-close close" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" action="/Edit/deleteAllExpenses">
                    Czy na pewno chcesz usunąć wszystkie wydatki?
                    Zmiany są nieodwaracalne.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Nie</button>
                <button type="button submit" class="btn btn-primary">Tak</button>
            </div>
            </form>
        </div>
    </div>
</div>

<!--edit income category modal-->
<div class="modal" id="editIncomeModal" tabindex="-1" role="dialog" aria-labelledby="edytujKategoriePrzychodu"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="btn-close close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="" method="post" id='editIncomeForm'>

                    <input type="hidden" id="incomeCategoryIdModal" name="incomeCategoryId">
                    <div class="input-group">

                        <span class="input-group-text"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                fill="currentColor" class="bi bi-bookmark" viewBox="0 0 16 16">
                                <path
                                    d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z" />
                            </svg></span>

                        <input type="text" id="incomeCategoryModal" class="form-control"
                            placeholder="Kategoria przychodów" maxlength="40" step="any" aria-label="KategoriaPrzychodu"
                            name="incomeCategory" required>
                    </div>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Nie</button>
                <button type="button submit" class="btn btn-primary">Tak</button>
            </div>

            </form>
        </div>

    </div>
</div>

<!--edit payment modal-->
<div class="modal" id="editPaymentModal" tabindex="-1" role="dialog" aria-labelledby="edytujMetodePlatnosci"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="btn-close close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="" method="post" id='editPaymentForm'>

                    <input type="hidden" id="paymentIdModal" name="paymentId">
                    <div class="input-group">
                        <span class="input-group-text"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                fill="currentColor" class="bi bi-credit-card-fill" viewBox="0 0 16 16">
                                <path
                                    d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v1H0V4zm0 3v5a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V7H0zm3 2h1a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1v-1a1 1 0 0 1 1-1z" />
                            </svg></span>
                        <input type="text" id="paymentModal" class="form-control" placeholder="Metoda płatności"
                            maxlength="40" step="any" aria-label="MEtodaPłatności" name="paymentMethod" required>
                    </div>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Nie</button>
                <button type="button submit" class="btn btn-primary">Tak</button>
            </div>

            </form>
        </div>

    </div>
</div>


<!--edit expense category modal-->
<div class="modal" id="editExpenseModal" tabindex="-1" role="dialog" aria-labelledby="edytujKategorieWydatku"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="btn-close close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="" method="post" id='editExpenseForm'>

                    <input type="hidden" id="expenseCategoryIdModal" name="expenseCategoryId">
                    <div class="input-group">

                        <span class="input-group-text"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                fill="currentColor" class="bi bi-bookmark" viewBox="0 0 16 16">
                                <path
                                    d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z" />
                            </svg></span>

                        <input type="text" id="expenseCategoryModal" class="form-control"
                            placeholder="Kategoria wydatków" maxlength="40" step="any" aria-label="KategoriaWydatku"
                            name="expenseCategory" required>
                    </div>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Nie</button>
                <button type="button submit" class="btn btn-primary">Tak</button>
            </div>

            </form>
        </div>

    </div>
</div>






{% endblock %}